---
import { Image } from 'astro:assets';
import logoImg from '../assets/logos/logo-black.svg';

const navItems = [
  { label: 'Accueil', href: '/' },
  { label: 'Le Salon', href: '/lesalon' },
  { label: 'Activités', href: '#nos-activites' },
  // { label: 'Press & Médias', href: '#' },
  { label: 'Le Prix', href: '/#rejoignez-nous' },
  { label: '1-54', href: '/#rejoignez-nous' },
  { label: 'Rejoignez nous', href: '/#rejoignez-nous' },
  // { label: 'Infos Pratiques', href: '#' },
  // { label: 'Resources', href: '#' },
];
---

<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="flex font-bold items-center">
      <Image 
        src={logoImg} 
        alt="Company Logo Image" 
        class="rounded-xs"
        width={150}
        height={56}
      />
    </a>
    <nav class="hidden md:flex space-x-6">
      {navItems.map(item => (
        <a href={item.href} class="text-gray-900 hover:text-primary-500 transition duration-150 ease-in-out">
          {item.label}
        </a>
      ))}
    </nav>
    <a href="/contact-us" class="bg-red-200 text-gray-900 px-4 py-2 rounded hover:bg-red-400/90 transition duration-150 ease-in-out">
      Nous contacter
    </a>
  </div>
</header>
