---
import { Image } from 'astro:assets';
import logoImg from '../assets/logos/logo-black.svg';

const navItems = [
  { label: 'Accueil', href: '/' },
  { label: 'Programme', href: '/programme' },
  { label: 'Artistes & Expositions', href: '/gallery' },
  // { label: 'Press & Médias', href: '#' },
  { label: 'Rejoignez nous', href: '/#rejoignez-nous' },
  // { label: 'Infos Pratiques', href: '#' },
  // { label: 'Resources', href: '#' },
];
---

<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="flex font-serif font-bold items-center">
      <Image 
        src={logoImg} 
        alt="Company Logo Image" 
        class="rounded-xs"
        width={150}
        height={56}
      />
    </a>
    <nav class="hidden md:flex space-x-6">
      {navItems.map(item => (
        <a href={item.href} class="text-gray-900 hover:text-primary-500 transition duration-150 ease-in-out">
          {item.label}
        </a>
      ))}
    </nav>
    <a href="/#" class="bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-600 transition duration-150 ease-in-out">
      Contact Us
    </a>
  </div>
</header>
