---
import { Image } from 'astro:assets';
import heroImg from '../assets/watching-art.jpg';
import laPlateforme55Logo from '../assets/logos/laplateforme55.jpg';
import BASMALogo from '../assets/logos/BASMA-logo.jpg';
import sdcPattern from '../assets/sdc-pattern.svg';
import { FaMapMarkerAlt, FaMapMarkedAlt, FaPalette, } from 'react-icons/fa';

---

<section class="relative bg-gray-100/90 bg-no-repeat bg-cover bg-center">
  <div class="absolute inset-0 bg-black/50 z-10 overflow-hidden"></div>
  <div class="absolute inset-0 z-0 overflow-hidden w-full h-full">
    <video autoplay muted loop playsinline class="w-full h-full object-cover">
      <source src="hero.webm" type="video/webm">
      <source src="hero.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container mx-auto z-10 relative px-4 md:p-0">
    <div class="flex flex-col lg:flex-row items-center">
      <div class="text-center py-10 h-full">
        <h1 class="text-5xl lg:text-6xl italic font-bold text-gray-50 underline">
          Le Salon de Casablanca
          <!-- 1er salon national des jeunes talents de l'art contemporain -->
          <!-- 1ER SALON NATIONAL DES JEUNES TALENTS DE L’ART CONTEMPORAIN. -->
        </h1>
        <p class="text-xl text-gray-50 mb-8 w-full font-semibold">
          Édition 2025, du 1er au 30 Novembre 2025
        </p>
        <p class="text-xl text-gray-50 mt-10">
          Un rendez-vous culturel et artistique dédié à la création contemporaine sous toutes ses formes.
        </p>
        <p class="text-xl text-gray-50 mt-10">
          L’édition 2025 réunit <span class="font-semibold text-3xl">40 artistes</span> — plasticiens, photographes, designers et talents émergents — pour offrir un panorama vivant de la scène actuelle.
        </p>
        <p class="text-xl text-gray-50 mt-10">
          Plus qu’une exposition, c’est un espace de rencontre et de partage, où <span class="text-2xl font-semibold">ateliers, workshops et événements</span> invitent le public à découvrir, expérimenter et dialoguer avec les œuvres.
        </p>
        <!-- Le Salon de Casablanca est un rendez-vous culturel et artistique qui met à l’honneur la création contemporaine sous toutes ses formes. L’édition 2025 réunit quarante artistes aux univers variés — plasticiens, photographes, designers et créateurs émergents — offrant un panorama vivant de la scène actuelle. Plus qu’une simple exposition, le Salon se veut un espace de rencontre, de réflexion et de partage, où ateliers, workshops et événements invitent le public à découvrir, expérimenter et dialoguer avec les œuvres. -->
        <!-- Your Company uses behavioral science to help people create, establish, and maintain daily behaviors that improve their lives. Health plans see reduced utilization costs, substantial health outcomes, increased quality and Star Ratings. -->
      </div>
      <!-- <div class="lg:w-1/2 mt-10 lg:mt-0 relative h-full">
        <Image 
          src={heroImg} 
          alt="Happy family" 
          class="rounded-lg shadow-xl"
          width={600}
          height={400}
        />
      </div> -->
    </div>

    <div class="flex flex-col md:flex-row justify-center text-white gap-4 w-full mt-2">
      <div class="">
        <a href="/gallery" class="flex gap-2 justify-center items-center bg-white text-red-700/90 font-bold py-3 px-8 rounded-full hover:bg-blue-100 transition duration-300">
          Nos artistes & expositions
          <FaPalette className="w-5 h-5" />
        </a>
      </div>
      <div class="">
        <a href="#rejoignez-nous" class="flex gap-2 justify-center items-center bg-white text-gray-900 font-bold py-3 px-8 rounded-full hover:bg-blue-100 transition duration-300 ">
          Rejoignez-nous au Salon
          <FaMapMarkerAlt className="w-5 h-5" />
        </a>
      </div>
    </div>

    <div class="flex w-full gap-6 justify-center items-center mt-12 pb-6">
      <div class="text-gray-50 text-xs md:text-lg font-bold md:font-semibold">
        Présenté par:
      </div>
      <div>
        <a href="https://laplateforme55.org" target="_blank" rel="noopener noreferrer">
          <img src={laPlateforme55Logo.src} alt=""  width="70" height="70" class="hover:scale-110 transform transition-transform duration-500 cursor-pointer">
        </a>
      </div>
      <div>
        <a href="https://linktr.ee/basm.asso" target="_blank" rel="noopener noreferrer">
          <img src={BASMALogo.src} alt="" width="140" height="140"  class="rounded-full hover:scale-110 transform transition-transform duration-500 cursor-pointer">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Video Modal -->
<!-- <div id="videoModal" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center hidden">
  <div class="bg-white rounded-lg p-8 max-w-3xl w-full">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-2xl font-bold">How Your Co. Works</h3>
      <button id="closeModal" class="text-gray-500 hover:text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="aspect-w-16 aspect-h-9">
      <iframe 
        id="youtubeVideo"
        class="w-full h-full"
        src="https://www.youtube.com/embed/f4D55v97wLM"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div> -->

<script>
  // components/Hero.astro
  const playButton = document.getElementById('playButton');
  const videoModal = document.getElementById('videoModal');
  const closeModal = document.getElementById('closeModal');
  const youtubeVideo = document.getElementById('youtubeVideo') as HTMLIFrameElement;

  playButton?.addEventListener('click', () => {
    videoModal?.classList.remove('hidden');
  });

  closeModal?.addEventListener('click', () => {
    videoModal?.classList.add('hidden');
    youtubeVideo.contentWindow?.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
  });

  videoModal?.addEventListener('click', (e) => {
    if (e.target === videoModal) {
      videoModal.classList.add('hidden');
      youtubeVideo.contentWindow?.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
    }
  });
</script>
