---
---

<section class="py-8 bg-white" id="rejoignez-nous">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center mb-16">Rejoignez-nous</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="w-full h-full flex flex-col gap-4 text-xl">
        <div>
          Du 1er au 31 Novembre
          Ouvert au Grand Public
        </div>
        <div>
          Addresse: 30 boulevard Brahim Roudani, Rue Abou El Kacem Chabi, Casablanca 20000
        </div>
        <div>
          Téléphones:
            <br>
            05 22 29 50 94 (Villa des Arts)
            <br>
            06 60 60 60 60 (Association BASMA)
        </div>
      </div>
      <div class="border border-gray-500 shadow-lg">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.7284557152925!2d-7.6295476!3d33.586399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2944b85d2ef%3A0x701f5b9780f6766e!2sArts%20Villa!5e0!3m2!1sen!2sma!4v1759069347360!5m2!1sen!2sma"
          class="w-full h-full min-h-96"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
