---
---

<section class="py-20 bg-white" id="rejoignez-nous">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-serif font-bold text-center mb-16">Rejoignez nous</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="lg:w-1/3">
        Addresse: Rue Léon L'Africain Quartier, Rue Sidi Belyout, Casablanca
        Téléphone: 05 22 22 22 22
        06 60 60 60 60
      </div>
      <div class="border border-gray-500 shadow-lg w-fit h-fit">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1597.8077061286356!2d-7.611427869657776!3d33.594799959363904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d282b366c287%3A0xb810acb05e2b5068!2sComplexe%20Culturel%20Sidi%20Belyout!5e0!3m2!1sen!2sma!4v1758819281060!5m2!1sen!2sma"
          width="650"
          height="480"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
