---
import { FaArrowRight } from 'react-icons/fa';
---

<section class="bg-gray-50 py-10">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold mb-8 text-center">Le Salon de Casablanca</h2>
    <div class="w-full h-full flex">
      <div class="w-1/2">
        Un rendez-vous culturel et artistique dédié à la création contemporaine sous toutes ses formes.
        <br>
        <br>
        L’édition 2025 réunit 40 artistes — plasticiens, photographes, designers et talents émergents — pour offrir un panorama vivant de la scène actuelle.
        <br>
        <br>
        Plus qu’une exposition, c’est un espace de rencontre et de partage, où ateliers, workshops et événements invitent le public à découvrir, expérimenter et dialoguer avec les œuvres. 
      </div>
      <div class="w-1/2">carousel</div>
    </div>
    <div class="flex justify-end">
      <a href="/lesalon" target="_blank" rel="noopener noreferrer" class="inline-block bg-white text-red-700/90 font-bold py-3 px-8 rounded-full hover:bg-red-100 transition duration-300 border border-gray-100 shadow-lg">
        <div class="flex gap-2 justify-center items-center">
          <div>
            Comité et Selection
          </div>
          <FaArrowRight className="w-5 h-5" />
        </div>
      </a>
    </div>

    <!-- <p class="text-xl mb-12 max-w-2xl mx-auto">
      Your Company reaches and motivates individuals struggling to adhere to care plans, rewarding them for healthy behaviors.
    </p>

    <div class="bg-white text-blue-700 rounded-lg shadow-lg p-8">
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-8">
        {features.map((feature) => (
          <div class="flex flex-col items-center">
            <feature.icon className="w-16 h-16 mb-4" />
            <p class="text-sm font-semibold">{feature.title}</p>
          </div>
        ))}
      </div>
    </div>

    <p class="text-xl mt-12 mb-8 max-w-2xl mx-auto">
      Our science-backed platform is built on the principles of behavioral economics to work for the hardest-to-reach populations.
    </p> -->


  </div>
</section>
