---
import { Image } from 'astro:assets';
import impactImage from '../assets/grandmother-playing.png';
import ateliers from '../../assets/features/sdc-ateliers-4-modified.webp';
---

<section class="bg-white py-0">
  <div class="container mx-auto px-0">
    <div class="flex flex-col md:flex-row items-center gap-2">

      <div class="md:w-1/2">
        <h2 class="text-4xl md:text-5xl font-bold text-gray-900 mb-6">
          Ateliers Grand Public
        </h2>
        <p class="text-xl text-gray-700">
          Everybody is welcome!
          <br>
          Learn by doing
          <br>
          Your Company gives hard-to-reach and complex populations a motivating and rewarding experience daily to improve health, cost, and quality outcomes. Our programs break through the noise, engaging members that traditional strategies have failed to reach.
        </p>
      </div>
      <div class="md:w-1/2">
        <Image 
          src={ateliers} 
          alt="Grandmother and granddaughter laughing together while playing on the grass" 
          class="rounded-lg shadow-xl w-full"
          width={600}
          height={400}
        />
      </div>
    </div>
  </div>
</section>
