---
import { Image } from 'astro:assets';
import impactImage from '../assets/grandmother-playing.png';
import masterclasses from '../../assets/features/sdc-masterclasses-3-modified.webp';
---

<section class="bg-white py-0">
  <div class="container mx-auto px-0">
    <div class="flex flex-col md:flex-row items-center gap-2">
      <div class="md:w-1/2">
        <Image 
          src={masterclasses} 
          alt="Grandmother and granddaughter laughing together while playing on the grass" 
          class="rounded-lg shadow-xl w-full"
          width={600}
          height={400}
        />
      </div>
      <div class="md:w-1/2">
        <h2 class="text-4xl md:text-5xl font-bold text-gray-900 mb-6">
          Masterclasses
        </h2>
        <p class="text-xl text-gray-700">
          Whether a beginner trying to step into a field, or an advanced artist trying to sharpen your skills....
          <br>
          Expand your artistic horizons....
          <br>
          Fast-paced learning, 
        </p>
      </div>
    </div>
  </div>
</section>
